---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=one%40example.com&name=User+One
    headers:
      Authorization:
      - Bearer sk_test_51JL1YiAQK64ZnDfYWcA38VzkYD08j0dm151rQLjJGn08EMxlTnVo5fS5iEjcN6caEWLzYy0xtjvnPsKPXRcw4iCo00Lg14vTKp
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_K33d2jXbBz99C6",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1629088435,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "one@example.com",
          "invoice_prefix": "ECBC719F",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": "User One",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none"
        }
  recorded_at: Mon, 16 Aug 2021 04:33:56 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_K33d2jXbBz99C6
    headers:
      Authorization:
      - Bearer sk_test_51JL1YiAQK64ZnDfYWcA38VzkYD08j0dm151rQLjJGn08EMxlTnVo5fS5iEjcN6caEWLzYy0xtjvnPsKPXRcw4iCo00Lg14vTKp
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pm_1JOxWKAQK64ZnDfYLNnQXp8Y",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": null
            },
            "country": "US",
            "exp_month": 8,
            "exp_year": 2022,
            "fingerprint": "9gNAOSAs8NH0dW3x",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1629088436,
          "customer": "cus_K33d2jXbBz99C6",
          "livemode": false,
          "metadata": {
          },
          "type": "card"
        }
  recorded_at: Mon, 16 Aug 2021 04:33:57 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_K33d2jXbBz99C6
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1JOxWKAQK64ZnDfYLNnQXp8Y
    headers:
      Authorization:
      - Bearer sk_test_51JL1YiAQK64ZnDfYWcA38VzkYD08j0dm151rQLjJGn08EMxlTnVo5fS5iEjcN6caEWLzYy0xtjvnPsKPXRcw4iCo00Lg14vTKp
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
   [...]
